[submodule "dockerfiles/_mod/centos"]
	path = dockerfiles/_mod/centos
	url = git@github.com:CentOS/CentOS-Dockerfiles.git
[submodule "dockerfiles/_mod/tianon"]
	path = dockerfiles/_mod/tianon
	url = git@github.com:mtulio/dockerfiles.git
[submodule "bin/_mod/tianon"]
	path = bin/_mod/tianon
	url = git@github.com:mtulio/docker-bin.git
